# Maven
/target/
**/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse/IntelliJ/VSCode
.classpath
.project
.settings/
bin/
.idea/
*.iml
*.ipr
*.iws
.vscode/

# single IDEA-Subdirectories
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
*.class

# Sonar
/.scannerwork/

# Test output
/test-output/

# Dependency directories
/node_modules/

# Environment
.env

# Test reports
**/surefire-reports/
**/test-classes/
**/jacoco.exec

# Weitere Build-Artefakte
*.jar
*.war
*.ear

# Sonstiges
*.swp
*.bak
*.tmp